{% extends "sidebar_layout.html" %}

{% block title %}
    Credits
{% endblock %}

{% block content %}
    <div style="font-size: 4rem; font-weight: 400; color: #fff;">
        Credits
    </div>
    <div class="credit py-5">
        <div class="mx-auto white" style="width: 40vw; position: relative;">
            <div class="d-flex justify-content-start">   
                <p class="light-blue item">Django Tutorial Series</p>
                <p class="item2">https://www.youtube.com/playlist?list=PLEsfXFp6DpzRMby_cSoWTFw8zaMdTEXgL</p>
            </div>
            <div class="d-flex justify-content-start">   
                <p class="light-blue item">AJAX/JQuery tutorial</p>
                <p class="item2">https://www.youtube.com/watch?v=zxvtUr3Cmto</p>
            </div>
            <div class="d-flex justify-content-start">   
                <p class="light-blue item">Learn Django in 20 minutes</p>
                <p class="item2">https://www.youtube.com/watch?v=nGIg40xs9e4&t=972s</p>
            </div>
            <div class="d-flex justify-content-start">   
                <p class="light-blue item">ChatGPT (efficient explanation)</p>
                <p class="item2">https://openai.com/blog/chatgpt/</p>
            </div>
            <div class="d-flex justify-content-start">   
                <p class="light-blue item">Claude (for debugging)</p>
                <p class="item2">https://claude.ai/</p>
            </div>  
            
            
            <div class="d-flex justify-content-start">   
                <p class="pink item">BackGround-image</p>
                <p class="item2">https://www.pexels.com/photo/green-pine-trees-covered-with-fogs-under-white-sky-during-daytime-167699/</p>
            </div>
            <div class="d-flex justify-content-start">
                <p class="pink item">Error-image</p>
                <p class="item2">https://img.freepik.com/premium-vector/document-with-alert-caution-error-notification-bubble-icon-flat-cartoon_101884-753.jpg?w=1060</p>
            </div>  
            <div class="d-flex justify-content-start">
                <p class="pink item">Success-image</p>
                <p class="item2">https://img.freepik.com/premium-vector/long-document-with-verified-tick-approved-checkmark-cartoon-concept-audit-confirmation-message-inspection-note-success-check-list-with-correct-assessment-mark-image_101884-1060.jpg</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="pink item">S-icon</p>
                <p class="item2">https://www.shutterstock.com/image-vector/letter-s-logo-symbol-vector-600w-378038929.jpg</p>
            </div> 


            <div class="d-flex justify-content-start">
                <p class="orange item">Bootstrap Flex</p>
                <p class="item2">https://getbootstrap.com/docs/4.0/utilities/flex/</p>
            </div>  
            <div class="d-flex justify-content-start">
                <p class="orange item">Bootstrap Spacing</p>
                <p class="item2">https://getbootstrap.com/docs/4.0/utilities/spacing/</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="orange item">Bootstrap3 Tutorial W3Schools</p>
                <p class="item2">https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp</p>
            </div>  
            <div class="d-flex justify-content-start">
                <p class="orange item">CSS W3Schools</p>
                <p class="item2">https://www.w3schools.com/css/</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="orange item">SQL W3Schools</p>
                <p class="item2">https://www.w3schools.com/sql/</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="orange item">HTML Animation W3Schools</p>
                <p class="item2">https://www.w3schools.com/jsref/prop_style_animation.asp</p>
            </div>
            <div class="d-flex justify-content-start">
                <p class="orange item">CSS Grid W3Schools</p>
                <p class="item2">https://www.w3schools.com/css/css_grid.asp</p>
            </div>
            <div class="d-flex justify-content-start">
                <p class="orange item">Input Element</p>
                <p class="item2">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/color</p>
            </div>            

            
            <div class="d-flex justify-content-start">
                <p class="yellow item">setTimeout()</p>
                <p class="item2">https://developer.mozilla.org/en-US/docs/Web/API/setTimeout</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="yellow item">Jinja include syntax</p>
                <p class="item2">https://stackoverflow.com/questions/22860085/how-do-i-include-a-html-file-in-a-jinja2-template</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="yellow item">javascript change border</p>
                <p class="item2">https://www.tutorialkart.com/javascript/how-to-change-border-of-html-element-in-javascript/</p>
            </div>
            <div class="d-flex justify-content-start">
                <p class="yellow item">Link CSS Django</p>
                <p class="item2">https://stackoverflow.com/questions/71261202/how-to-link-html-and-css-file-using-django</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="yellow item">Hard Refresh for CSS</p>
                <p class="item2">https://stackoverflow.com/questions/64493951/why-do-my-changes-not-save-in-static-css-files-in-django/</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="yellow item">Display a moving time</p>
                <p class="item2">https://www.plus2net.com/javascript_tutorial/clock.php</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="yellow item">Access session variable within template</p>
                <p class="item2">https://devpress.csdn.net/python/6304b77ec67703293080da84.html</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="yellow item">Python calendar</p>
                <p class="item2">https://www.geeksforgeeks.org/python-calendar-module/</p>
            </div> 
            <div class="d-flex justify-content-start">
                <p class="yellow item">Format string with leading 0</p>
                <p class="item2">https://stackoverflow.com/questions/733454/best-way-to-format-integer-as-string-with-leading-zeros</p>
            </div> 
            
        </div>       
    </div>
{% endblock %}