{% extends "entrance_layout.html" %}

{% block title %}
    Entrance
{% endblock %}

{% block content %}
      <div class="x65vh center mt-4">
        <div id="intro">
          <div class="light-gray">Web</div>
          <div><span class="red">S</span><span class="yellow">C</span><span class="green">H</span><span class="blue">E</span><span class="purple">D</span><span class="pink">U</span><span class="brown">L</span><span class="orange">E</span><span class="yellow">R</span></div>
          <div class="light-gray">1.0</div>
        </div>
      </div>
      <div class="mt-4">
        <a href="/accounts/register" class="btn btn-entrance mx-3"  role="button">Register</a>
        <a href="/accounts/login" class="btn btn-entrance mx-3" role="button">Log In</a>
      </div>
{% endblock %}